body {
    padding: 0;
    margin: 0;
}

#container {
    background-color: #00796B;
    color: whitesmoke;
    height: 700px
}

#bouton {

    display: inline-block;
    color: #00796B;
    background: white;
    padding: 5px 5px 5px 5px;
}

.city_name {
    text-align: center;
    font-size: 24px;
}

.temperature_infos {
    display: flex;
    flex-wrap: wrap;
    height: 20%;
}

.temperature {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    width: 45%;
    margin-left: 10%;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:  40%;
}

.principale_bas {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.longitude {
    margin-left: 10%;
    display: flex;
    width: 20%;
}

.lattitude {
    display: flex;
        width: 20%;
}

.map {
    border: solid;
    margin-left: 10%;
    margin-right: 10%;
    height: 40%;
}